// Custom colors
$dark-pink:     #6A2C70;
$rogue-red:     #B83B5E;
$light-orange:  #F08A5D;
$light-yellow:  #F9ED69;

// Color overrides
$primary:       $dark-pink;
$secondary:     $rogue-red;
$info:          $light-orange;

//Body overrides
$body-bg:       $light-yellow;